.semifooter_bg{
 
backdrop-filter: blur(35%);
    background-color:
        rgba(255, 255, 255, 1),   /* White with 100% opacity */
        rgba(255, 255, 255, 0.2), /* White with 20% opacity */
        rgba(217, 217, 217, 1); /* Another color with 10% opacity */
    height: 70px;
  
}